<% if user_signed_in? %>
<% if post.favorited_by?(current_user) %>
  <%= link_to post_favorites_path(post), :style=>"color:red;", method: :delete, remote: true do %>
    <i class='far fa-thumbs-up'></i><%= post.favorites.count.to_s %>
  <% end %>
<% else %>
  <%= link_to post_favorites_path(post), :style=>"color:blue;", method: :post, remote: true do %>
    <i class='far fa-thumbs-up'></i><%= post.favorites.count.to_s %>
  <% end %>
<% end %>
<% else %>
  <a href="#"><i class="far fa-thumbs-up"></i><%= post.favorites.count.to_s %></a>
<% end %>