<div class="col-12 mt-3">
  <h4 class="display-5"><i class="fas fa-book mr-2"></i><%= @user.name %> / <%= t'relation.followers' %></h4>
</div>
<div class="col-12">
  <div class="card mt-3">
    <div class="card-body">
      <div class="d-flex justify-content-center">
        <h4 class="card-title"><%= t'relation.followers' %></h4>
      </div>
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th><%= t'user.name' %></th>
            <th><%= t'relation.follows' %></th>
            <th><%= t'relation.followers' %></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @user.follower_user.each do |user| %>
            <tr id="relationbtn_<%= user.id %>">
              <%= render partial: 'relationships/relationbtn', locals: {user: user} %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>