<div class="col-12 my-3">
  <h4 class="display-5"><i class="fas fa-book mr-2"></i><%= t'ranking.cr' %></h4>
</div>
<div class="col-12 col-lg-8 mb-3 mx-auto">
  <div class="card">
    <div class="card-body">
      <div class="d-flex justify-content-center">
        <h4 class="card-title"><%= t'ranking.rg' %></h4>
      </div>
      <div class="list-group mb-3 text-center">
        <div class="d-flex list-group-item bg-light p-list">
          <small class="col-3 px-05"><%= t'ranking.r' %></small>
          <small class="col-4 px-05"><%= t'ranking.name' %></small>
          <small class="col-5 px-05"><%= t'ranking.cs' %></small>
        </div>
        <% @users.each.with_index(@page) do |user, i| %>
            <%= link_to user_path(user), id: "u-link-#{user.id}", class: "d-flex list-group-item list-group-item-action align-items-center p-list" do %>
            <div class="col-3 px-05"><%= i %></div>
            <div class="col-4 px-05"><%= user.name %></div>
            <div class="col-5 px-05">
              <%= if user.contributions >= 3200
                  image_tag '3200.svg', class: "img-fluid", style: "height:1.5rem;"
                elsif user.contributions >= 1600
                  image_tag '1600.svg', class: "img-fluid", style: "height:1.5rem;"
                elsif user.contributions >= 800
                  image_tag '800.svg', class: "img-fluid", style: "height:1.5rem;"
                elsif user.contributions >= 400
                  image_tag '400.svg', class: "img-fluid", style: "height:1.5rem;"
                elsif user.contributions >= 200
                  image_tag '200.svg', class: "img-fluid", style: "height:1.5rem;"
                elsif user.contributions >= 100
                  image_tag '100.svg', class: "img-fluid", style: "height:1.5rem;"
                elsif user.contributions >= 10
                  image_tag '10.svg', class: "img-fluid", style: "height:1.5rem;"
                elsif user.contributions >= 0
                  image_tag '0.svg', class: "img-fluid", style: "height:1.5rem;"
              end %>
              <%= user.contributions %>
            </div>
            <% end %>
        <% end %>
      </div>
      <%= paginate @users %>
    </div>
  </div>
</div>
