<div class="col-12 mt-3">
  <h4 class="display-5"><i class="fas fa-book mr-2"></i>User / <%= @user.name %></h4>
</div>
<%= render partial: 'users/user', locals: {user: @user} %>
<div class="col-12 col-lg-8">
  <div class="card mt-3 h-100">
    <div class="card-body">
      <div class="d-flex justify-content-center">
        <h4 class="card-title">Posts</h4>
      </div>
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th>Genre</th>
            <th>Title</th>
          </tr>
        </thead>
        <tbody>
          <% @user.posts.each do |post| %>
            <tr>
              <td><%= post.genre.name %></td>
              <td><%= link_to post_path(post) do %><%= post.title %><% end %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>