<div class="col-12 mt-3">
  <h4 class="display-5"><i class="fas fa-book mr-2"></i>About</h4>
</div>
<div class="jumbotron py-3 px-4 col-12 mt-3">
  <h3 class="display-4 text-center">About <%= t'header.name' %></h3>
  <hr class="my-3">
  <div class="row justify-content-center">
    <p>
      <%= t'about.contreis' %><br>
      <%= t'about.easytore' %>
    </p>
  </div>
  <div class="row justify-content-center">
    <ul>
      <li><%= t'about.iconfunc' %></li>
      <li><%= t'about.ranking' %></li>
      <li><%= t'about.relation' %></li>
      <li><%= t'about.post' %></li>
    </ul>
  </div>
  <hr class="my-3">
  <p class="text-center"><%= t'about.formore' %></p>
  <p class="lead text-center">
    <a class="btn btn-outline-dark" href="https://github.com/UDAZ/Contre" role="button">Check on GitHub</a>
  </p>
</div>
