<div class="col-12 my-3">
  <h4 class="display-5"><i class="fas fa-book mr-2"></i><%= t'posts.posts' %></h4>
</div>
<div class="col-12 mb-3">
  <div class="card">
    <div class="card-body">
      <div class="d-flex justify-content-center">
        <h4 class="card-title"><%= t'posts.posts' %></h4>
      </div>
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th><%= t'activerecord.models.genre' %></th>
            <th><%= t'activerecord.attributes.post.title' %></th>
            <th><%= t'posts.name' %></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @posts.each do |post| %>
            <tr>
              <td><%= post.genre.name %></td>
              <td><%= link_to post_path(post), class: "post-title" do %><% if post.title.length >= 5 %><%= post.title.slice(0..12).insert(-1, "…") %><% else %><%= post.title %><% end %><% end %></td>
              <td><%= link_to user_path(post.user) do %><%= post.user.name %><% end %></td>
              <td id="favs_buttons_<%= post.id %>"><%= render 'favorites/fav', post: post %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @posts %>
    </div>
  </div>
</div>
<% unless user_signed_in? %>
  <div class="modal js-modal-fav">
  <div class="modal_bg js-modal-close-fav"></div>
    <div class="modal_content col-10 col-lg-6">
      <i class="fa fa-times-circle text-white js-modal-close-fav" aria-hidden="true"></i>
      <div class="d-flex justify-content-center">
        <h4 class="card-title">ぜひご登録を！</h4>
      </div>
      <p>GitHubアカウントでログインすると「いいね」など様々な機能をお使い頂けます。<%= link_to "#{t'header.login'}", user_github_omniauth_authorize_path, method: :post %></p>
    </div>
  </div>
<% end %>
<%= javascript_include_tag "modal-fav.js" %>
<%= stylesheet_link_tag "posts.css" %>
