<div class="col-12 mt-3">
  <h4 class="display-5"><i class="fas fa-book mr-2"></i><%= t'posts.post'%> / <%= @post.title %></h4>
</div>
<div class="col-12 col-lg-8 mx-auto">
  <div class="card mt-3">
    <div class="card-body">
      <div class="d-flex justify-content-center">
        <h4 class="card-title"><%= @post.title %></h4>
      </div>
      <div class="d-flex justify-content-center mb-3">
        <p class="card-text"><%= @post.genre.name %></p>
      </div>
      <div class="col-11 mx-auto mb-3">
        <%= markdown(@post.body) %>
      </div>
      <div class="col-11 mx-auto mb-3" id="favs_buttons_<%= @post.id %>">
        <%= render 'favorites/fav', post: @post %>
      </div>
      <div class="col-11 mx-auto mb-3">
        <%= render 'reports/report', post: @post %>
      </div>
      <% if @post.user = current_user%>
        <div class="d-flex justify-content-center mb-3">
          <p class="card-text col-11">
            <%= link_to "#{t'posts.edit'}", edit_post_path(@post) %>
            <%= link_to "#{t'posts.destroy'}", post_path(@post), method: :delete, data: { confirm: '本当に消しますか？' } %>
          </p>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%= javascript_include_tag "modal-report.js" %>
<%= stylesheet_link_tag "posts.css" %>